<!DOCTYPE html>
<html>

{{> head}}

<body>

  <div class="hero_area">

    <div class="hero_bg_box">
      <div class="bg_img_box">
        <img src="images/hero-bg.png" alt="">
      </div>
    </div>

    <!-- header section strats -->
    {{> header_section}}
     
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                      Legal <br>
                      Assistant using ML
                    </h1>
                    <p>
                     its is an platform for both client to find there right legal service providers and also legal service providers manage there client and visualy analysis the current performance status    
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                      Legal <br>
                      Assistant using ML
                    </h1>
                    <p>
                      its is an platform for both client to find there right legal service providers and also legal service providers manage there client and visualy analysis the current performance status    
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                      Legal  <br>
                      Assistant using ML
                    </h1>
                    <p>
                      its is an platform for both client to find there right legal service providers and also legal service providers manage there client and visualy analysis the current performance status    
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
          <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
      </div>

    </section>
    <!-- end slider section -->
  </div>


  <!--i/p sections -->

  <!-- i/p End -->

  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
            Legal  <span>Services </span> <i class="fa fa-cogs" aria-hidden="true">...</i>
          </h2>
          <p>
            Legal Service Providers such as Advocates, Arbitrators, Mediators, Notaries, Document Writers, etc
          </p>
        </div>
        <div class="row">
          <div class="col-md-4 ">
            <div class="box kg">
              <div class="img-box">
                <img src="images/s1.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Advocates
                </h5>
                <p>
                  identify your right legal professionals authorized to represent you in court, 
                  provide legal advice, and plead cases. They play a vital role in the legal system, 
                  advocating for their your's rights and contributing to the administration of justice. 👩‍⚖️📚
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box kg ">
              <div class="img-box">
                <img src="images/s2.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Arbitrators
                </h5>
                <p>
                  identify your Arbitrators i.e
                  Arbitrators are neutral third parties who resolve disputes outside of court, 
                  ensuring fairness and impartiality. They play a vital role in alternative 
                  dispute resolution (ADR). 👩‍⚖️📚


                  .
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4  ">
            <div class="box kg">
              <div class="img-box">
                <img src="images/s3.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Document Writers
                </h5>
                <p>
                  They assist clients in effectively communicating their ideas, products, or services through reports, proposals, white papers, business plans, and other written forms1. Whether it’s drafting legal documents, business reports, or informative articles, 
                  document writers play a crucial role in conveying information clearly and concisely. 👩‍💼📝
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-box">
          <a href="newpages/OC.html">
            View All
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="heading_container heading_center">
        <h2>
          About <span>Us</span>
        </h2>
        <p>
         we are just creating a platform in this the client choose there right legal service providers through visualy analysis there performance , case out comes , future case success rate etc...
        </p>
      </div>
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="images/about-img.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h3>
              We also do..
            </h3>
            <p>
              The advogate are able to gain more number of client and also they have ability to track the flow 
              i.e they analysis there performance and also know about what the client think about the activity 

            </p>
            <p>
              we are just creating a platform in this the client choose there right legal service providers through visualy analysis there performance , case out comes , future case success rate etc...
            </p>
            <a href="/">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- why section -->

  <section class="why_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Why Choose <span>Us</span>
        </h2>
      </div>
      <div class="why_container">
        <div class="box">
          <div class="img-box">
            <img src="images/w1.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Management
            </h5>
            <p>
              Legal service providers can interact with their cllients,each with their own unique personalities,needs and excpectations.They can Offer flexible payment options or refer them to legal aid services if appropriate.
               Clients can accomodate their needs,whether they require physical accessability or support for congnitive disabilities.    </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="images/w2.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Analyze
            </h5>
            <p>
              Legal service proividers can analyze their work flow through the dashboard by clients feedback.Data collection involves in various tools and techniques,such as surveys ,interviews,focus group,observations,records,reports,and case studies.
              Data analysis can involve various methods and software,such as Sentiment analysis,Predictive analysis,Recomndation system.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="images/w3.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              client 
            </h5>
            <p>
             Client can find their suitable legal service providers for their own legal problem 
            </p>
          </div>
        </div>
  </section>

  <!-- end why section -->

 


  


  <!-- info section -->
  {{> info_section}}
  <!-- end info section -->

  <!-- footer section -->
  <!-- info is enough -->
  <!-- footer section -->

  <!-- jQery -->
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <!-- owl slider -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- custom js -->
  <script type="text/javascript" src="js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->

</body>

</html>